@page "/day5"
@using AdventOfCode2022.Data
@inject DayInputService DayInputService

<PageTitle>Day5</PageTitle>

<h1>Day5</h1>

<button class="btn btn-primary" @onclick="Day5_1">Räkna 5_1</button>
<p>Resultat dag 5_1 = @day5_1Result</p>
<hr />
<button class="btn btn-primary" @onclick="Day5_2">Räkna 5_2</button>
<p>Resultat dag 5_2 = @day5_2Result</p>


@code{
    private string day5_1Result = string.Empty;
    private int day5_2Result = 0;

    private void Day5_1(){
        day5_1Result = DayInputService.Day5_1();
    }
    private void Day5_2(){
        //day5_2Result = DayInputService.Day5_2();
    }
}