@using Microsoft.AspNetCore.Components.Web
@typeparam TItem
<a class="dropdown-item" Item="@Item" @onclick="e=> Dropdown.HandleSelect(Item, ChildContent)" >@ChildContent(Item)</a>

@code {
    [CascadingParameter(Name = "Dropdown"), EditorRequired]
    public MyDropdown<TItem> Dropdown { get; set; } = null!;

    [Parameter, EditorRequired]
    public TItem Item { get; set; } = default(TItem)!;
    [Parameter, EditorRequired]
    public RenderFragment<TItem> ChildContent { get; set; } = null!;
}